@charset 'utf-8';
@font-face {
  font-family: 'iconfont';
  /* project id 981323 */
  src: url('//at.alicdn.com/t/font_981323_k8sa73c5vws.eot');
  src: url('//at.alicdn.com/t/font_981323_k8sa73c5vws.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_981323_k8sa73c5vws.woff') format('woff'), url('//at.alicdn.com/t/font_981323_k8sa73c5vws.ttf') format('truetype'), url('//at.alicdn.com/t/font_981323_k8sa73c5vws.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-size: 1em;
  background: #FCFAF2;
  background-size: 100% 100%;
}
html {
  font-size: 100%;
}
li {
  list-style: none;
}
div {
  box-sizing: border-box;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
.global-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: #000;
}
/*====== [ 滚动条 ] =======*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #eee;
}
::-webkit-scrollbar-track {
  background-color: #eee;
}
::-webkit-scrollbar-thumb {
  background-color: #898C7B;
}
.about {
  width: 960px;
  margin: 0 auto;
  padding: 30px 0;
}
.about p,
.about h3 {
  font-size: 16px;
  width: 100%;
  text-align: center;
  padding: 2px 0;
}
.about h2 {
  text-align: left;
  padding: 10px 10px 10px 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  font-size: 16px;
  width: 100%;
}
.about h2 span::before {
  position: absolute;
  content: '';
  width: 3px;
  height: 40%;
  left: 15px;
  background: #333;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.about h3 {
  margin: 0;
  padding-bottom: 8px;
  cursor: pointer;
  color: #444;
}
.about h3 span {
  -webkit-transition: all .5s;
  transition: all .5s;
  display: inline-block;
}
.about h3 span:hover {
  color: #000;
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}
.about .about_wrap {
  width: 100%;
  height: 100%;
  color: #333;
  -webkit-transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  border-radius: 6px;
}
.about .about_wrap .about_wrap_top {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about .about_wrap .about_wrap_top .top_left {
  width: 50%;
  height: 100%;
}
.about .about_wrap .about_wrap_top .top_left .top_left_top {
  background: rgba(250, 204, 153, 0.2);
  padding: 20px 30px 30px;
  height: 60%;
}
.about .about_wrap .about_wrap_top .top_left .top_left_top .top_left_img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 0 auto 10px auto;
}
.about .about_wrap .about_wrap_top .top_left .top_left_top .top_left_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transition: all .6s;
  transition: all .6s;
}
.about .about_wrap .about_wrap_top .top_left .top_left_top .top_left_img img:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.about .about_wrap .about_wrap_top .top_left .top_left_center {
  background: rgba(102, 204, 255, 0.2);
  height: 25%;
  padding: 20px 0;
}
.about .about_wrap .about_wrap_top .top_left .top_left_center .user_address span {
  color: salmon;
}
.about .about_wrap .about_wrap_top .top_left .top_left_center p {
  margin-bottom: 15px;
}
.about .about_wrap .about_wrap_top .top_left .top_left_center i {
  margin-right: 4px;
}
.about .about_wrap .about_wrap_top .top_left .top_left_bottom {
  background: rgba(250, 204, 153, 0.6);
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.about .about_wrap .about_wrap_top .top_left .top_left_bottom span {
  margin-right: 16px;
  cursor: pointer;
  -webkit-transition: all .6s;
  transition: all .6s;
}
.about .about_wrap .about_wrap_top .top_left .top_left_bottom span i {
  font-size: 30px;
}
.about .about_wrap .about_wrap_top .top_left .top_left_bottom span:hover {
  color: salmon;
}
.about .about_wrap .about_wrap_top .top_right {
  width: 50%;
  height: 100%;
}
.about .about_wrap .about_wrap_top .top_right .top_right_top {
  background: rgba(245, 102, 103, 0.2);
  height: 50%;
  padding: 30px;
}
.about .about_wrap .about_wrap_top .top_right .top_right_top p {
  margin-bottom: 10px;
}
.about .about_wrap .about_wrap_top .top_right .top_right_bottom {
  background: rgba(102, 102, 153, 0.2);
  height: 50%;
  padding: 30px;
}
.about .about_wrap .about_wrap_top .top_right .top_right_bottom h3 {
  margin-bottom: 10px;
}
.about .about_wrap .about_wrap_top .top_right .top_right_bottom p {
  width: 60%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
}
.about .about_wrap .about_wrap_top .top_right .top_right_bottom i {
  font-size: 22px;
}
.about .about_wrap .about_wrap_center {
  width: 100%;
  height: 300px;
  background: rgba(204, 204, 255, 0.2);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.about .about_wrap .about_wrap_center #map {
  width: 100%;
  height: 100%;
}
.about .about_wrap .about_wrap_bottom {
  width: 100%;
  height: 150px;
  background: rgba(245, 102, 103, 0.2);
}
.about .about_wrap .about_wrap_bottom .about_wrap_bottom_text {
  padding: 20px;
}
.about .about_wrap .about_wrap_bottom p {
  text-align: left;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.7);
}
.about .about_wrap .about_wrap_bottom a {
  color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all .3s;
  transition: all .3s;
}
.about .about_wrap .about_wrap_bottom a:hover {
  color: #000000;
}
