// 多行省略
.ellipsis-mult(@n: 3) {
  display: -webkit-box; -webkit-box-orient: vertical;-webkit-line-clamp: @n; word-break: break-all;
  -o-text-overflow: ellipsis; -ms-text-overflow: ellipsis; text-overflow:ellipsis; overflow: hidden;
}
.myflex(){
  display: flex;
  align-items: center;
  justify-content: center;
}
.article{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  position: relative;
  transition: all .3s;
  margin-bottom: 10px;
  border-radius: 2px;
  transition:All 0.4s linear;
  &:hover{
    background: #eee;
    .art-right{
      img{
        transition:All 0.4s linear;
        transform: rotate(-10deg) scale(1.2);
      }
    }
  }
  .art-left{
    height: 110px;
    width: 100%;
    margin-right: 0px;
    .title{
      font-size: 22px;
      margin-bottom: 10px;
      .ellipsis-mult(1);
      transition: all .3s;
      position: relative;
      &:hover{
        transform: translateX(10px);
      }
      &::before{
        content:"";
        width:0px;
        position:absolute;
        display:inline-block;
        border-bottom:2px solid #666;
        bottom:0;
        left:0px;
      }
      &:hover::before{
        width:100%;
        transition:all linear .2s;
      }
    }
    .abstrack{
      font-size: 15px;
      color:#666;
      margin-bottom: 20px;
      max-height: 33px;
      .ellipsis-mult(2);
    }
    .meta{
      font-size: 14px;
      color:#aaa;
      display: flex;
      align-items: center;
      a{
        font-size: 14px;
        color:#aaa;
      }
      span{
        margin-right: 15px;
        transition: color .3s;
        &:hover{
          color:salmon;
          a{
            color:salmon;
          }
        }
      }
      .iconfont{
        margin-right: 5px;
        position: relative;
        top: 1px;
      }
    }
  }
  .art-right{
    width: 180px;
    height: 110px;
    overflow: hidden;
    border-radius: 5px;
    background: darkcyan;
    margin-left: 20px;
    .myflex();
    img{
      width: 100%;
      height: 100%;
      transition:All 0.4s linear;
    }
  }
}
@media (max-width:1000px){
  .art-right{
    display: none !important;
  }
}