@import url(./global.less);
@art_title_color: rgba(0,0,0,0.85);
@art_meta_color: rgba(0,0,0,0.55);
@art_content_color: rgba(0,0,0,0.65);
.myflex(){
  display: flex;
  align-items: center;
  justify-content: center;
}
// 首页的article mode1
.mode1_article{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: relative;
  transition: all .3s;
  border-radius: 4px;
  transition:All 0.4s linear;
  background: #fff;
  color: @glColor;
  margin-bottom: 10px;
  &:hover{
    .art-left{
      color: @glHoverColor !important;
      .title{
        color: @glHoverColor !important;
        &::before{
          width:100%;
          // transition:all linear .4s;
        }
      }
    }
  }
  .art-left{
    height: 110px;
    width: 100%;
    margin-right: 0px;
    cursor: pointer;
    position: relative;
    .title{
      font-size: 18px;
      padding-bottom: 4px;
      margin-bottom: 6px;
      .ellipsis-mult(1);
      transition: all .3s;
      position: relative;
      &::before{
        content:"";
        width:0px;
        position:absolute;
        display:inline-block;
        border-bottom:1px solid #fff;
        bottom:0px;
        left:0px;
      }
    }
    .abstrack{
      font-size: 14px;
      max-height: 33px;
      .ellipsis-mult(3);
      overflow: hidden;
    }
    .meta{
      font-size: 14px;
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 0;
      left: 0;
      a{
        font-size: 14px;
      }
      span{
        margin-right: 15px;
        transition: color .3s;
      }
      .iconfont{
        margin-right: 5px;
        position: relative;
        top: 1px;
      }
    }
  }
  .art-right{
    width: 220px;
    height: 110px;
    overflow: hidden;
    border-radius: 5px;
    background: darkcyan;
    margin-left: 20px;
    .myflex();
    border:1px solid rgba(255, 255, 255, 0.9);
    img{
      width: 100%;
      height: 100%;
      transition:All 0.4s linear;
    }
  }
}
.mode2_article{
  background: #fff;
  box-shadow: 0 0.1875rem 1.5rem rgba(0, 0, 0, 0.2);
  border-radius: 0.375rem;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 10px;
  break-inside: avoid; //消除空白
  .post-image{
    img{
      display: block;
      height: auto;
      max-width: 100%;
      vertical-align: middle;
    }
  }
  .mode2_info{
    padding: 15px 15px 0 15px;
    .mode2_tag{
      border-radius: 10px;
      margin-bottom: 4px;
      padding: 3px 7px;
      background-color: #34b0b5;
      color: #fff;
      font-size: 12px;
      margin-bottom: 10px;
      display: inline-block;
    }
    h3{
      font-size: 15px;
      margin-bottom: 0;
      color: #1a1a1a;
      margin: 0 0 15px;
    }
    .mode2_desc{
      color: #aaa;
      font-size: 12px;
    }
    .mode2_author{
      align-items: center;
      display: flex;
      font-size: 12px;
      margin-top: 15px;
      .mode2_avatar{
        border-radius: 50%;
        margin-right: 7px;
        width: 30px;
      }
      .mode2_author_info{
        color: #aaa;
        display: flex;
        flex-direction: column;
        line-height: 1;
        margin-top: 1px;
        .author_name{
          color: #777;
          font-weight: 500;
          margin-bottom: 5px;
        }
        .pub_time{
          font-size: 12px;
        }
      }
    }
    .mode2_meta{
      background-color: #fff;
      border-top: 1px solid #f4f4f4;
      display: flex;
      font-size: 12px;
      font-weight: 500;
      justify-content: space-between;
      padding: 10px 20px;
      margin-top: 10px;
      color: #aaa;
      align-items: center;
      span{
        display: flex;
        align-items: center;
        i{
          margin-right: 5px;
        }
      }
    }
  }
}
// 文章详情页
.article-page{
  width: @glContentWidth;
  z-index: 2;
  position: relative;
  margin: 0px auto 60px auto;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  .content{
    width: 100%;
    padding:  0 20px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 6px;
    code{
      // font-family:'Bauhaus-Bold';
      padding: 2px 4px;
      font-size: 13px;
      color: #c7254e;
      background-color: #f9f2f4;
      border-radius: 3px;
      font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    }
    .article_title{
      font-size: 28px;
      margin:0;
      padding: 20px 0 10px;
      line-height: 1.2em;
      text-align: center;
      color: @art_title_color;
    }
    .article_intro{
      font-size: 12px;
      text-align: center;
      color: @art_meta_color;
      margin-bottom: 5px;
    }
    .counts{
      margin-bottom: 20px;
    }
    .content_wrap{
      width: 100%;
      color: @art_content_color;
    }
    h1,h2,h3{
      position: relative;
      margin: 20px 0;
      font-weight: 500;
      &::before{
        content: '';
        border-radius: 100%;
        border: 2px solid #777;
        display: inline-block;
        width: 5px;
        height: 5px;
        margin: 0 8px 1px 0;
        background-color: #4acc40;
      }
    }
    h1{
      font-size: 24px;
    }
    h2{
      font-size: 22px;
    }
    h3{
      font-size: 17px;
    }
    img{
      width: 90%;
      margin: 10px auto;
      border-radius: 10px;
      display: block;
    }
    pre{
      display: block;
      position: relative;
      overflow-x: auto;
      margin-bottom: 1em;
      background-color: rgba(0,0,0,.8);
      border-radius: 4px;
      white-space: pre-wrap;
      word-wrap: break-word;
      code{
        margin: 0;
        padding: 1em;
        float: left;
        display: block;
        line-height: 1.6em;
        color: hsla(0,0%,100%,.87);
        background-color: transparent;
        // font-family: monospace,monospace;
        font-size: 12px;
        max-height: 400px;
      }
    }
    p{
      margin: 20px 0;
    }
    blockquote{
      border-left: 3px solid rgba(0,0,0,.8);
      font-weight: 400;
      letter-spacing: .01rem;
      margin: 30px 0;
      padding-left: 10px;
      color: #313131;
    }
  }
}
// @media (max-width:1000px){
//   .art-right{
//     display: none !important;
//   }
// }