@import url(./global.less);
.footer{
  // background: @glBgColor;
  // .linerBg();
  background: #fff;
  width: 100%;
  position: relative;
  font-size: 12px;
  color: #666;
  z-index: 2;
  padding: 20px 0 10px 0;
  p{
    text-align: center;
    margin-bottom: 10px;
  }
  .italic{
    font-style: italic;
  }
}