@import url(./global.less);
@keyframes stroke {
100% {
  stroke-dashoffset: -400;
}
}
header{
  background: #fff;
}
.header{
  height: 50px;
  // .linerBg();
  background: #fff;
  // background: @glBgColor;
  width: 100%;
  position: relative;
  z-index: 999;
  box-shadow: 0 5px 4px -4px rgba(25,25,25,.1);
  position: fixed;
  top: 0;
  z-index: 999;
  .myflex();
  .header-wrap{
    width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }
  .site-title{
    width: 19%;
    height: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
      color:#EE7785;
      font-size: 28px;
      font-family: Sakura;
      text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    }
  }
  .site-navigation{
    display: block;
    width: 81%;
    height: 100%;
    ul{
      display: flex;
      align-items: center;
      padding: 0;
      justify-content: flex-end;
      li{
        list-style: none;
        margin-left: 40px;
        a{
          color: @glColor;
          transition: all .3s;
          &:hover{
            color: @glHoverColor;
          }
        }
      }
    }
  }
}