@import url(./global.less);
@headerHeight:55px;
@navColor:rgba(0,0,0,.44);
@navHoverColor:rgba(0,0,0,.74);
.active-link{
  color: @navHoverColor !important;
}
@keyframes stroke {
100% {
  stroke-dashoffset: -400;
}
}
.herox-header{
  &:hover{
    .play-icon{
      display: block;
    }
    .changeBtn{
      opacity: 1;
    }
  }
}
.header{
  z-index: 999;
  position: relative;
  width: 100%;
  -webkit-transition: all .4s;
  transition: all .4s;
  background-color: rgba(255, 255, 255, 0.6);
}
.scroll-header{
  position: fixed;
  width: 100%;
  z-index: 999;
  background: #fff;
  top: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
header{
  height: @headerHeight;
  width: 100%;
  z-index: 2;
  box-shadow: 0 5px 4px -4px rgba(25,25,25,.1);
  .myflex();
  .header-wrap{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: @headerHeight;
  }
  .site-title{
    width: 19%;
    height: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
      color:@navColor;
      font-size: 28px;
      // font-family: Sakura;
      // text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    }
  }
  .site-navigation{
    display: block;
    width: 81%;
    height: @headerHeight;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    ul{
      display: flex;
      align-items: center;
      padding: 0;
      justify-content: flex-end;
      li{
        list-style: none;
        margin-left: 40px;
        a{
          color: @navColor;
          transition: all .3s;
          &:hover{
            color: @navHoverColor;
          }
        }
      }
    }
  }
}