.wrap_items{
  width: @glToolWidth;
  min-height: calc(100vh - 140px);
  position: absolute;
  left: 0;
  top: 0;
  .name{
    font-size: 16px;
    border-bottom: 1px solid rgba(150, 145, 145,0.2);
    color: @glColor;
    padding: 8px 15px;
    i{
      display: inline-block;
      margin-right: 3px;
    }
  }
  .left_item{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 4px;
    position: relative;
    .linerBg();
    color: @glColor;
  }
  // 关于我
  .about_me{
    .about_me_wrap{
      padding: 8px 15px;
      font-size: 12px;
      .about_me_wrap_line1{
        display: flex;
        align-items: center;
        img{
          width: 30px;
          height: 30px;
          border-radius: 4px;
        }
        .user_name{
          font-size: 14px;
          margin-left: 10px;
        }
      }
      .about_me_wrap_line2{
        margin: 10px 0 5px 0;
        line-height: 15px;
        p{
          margin-bottom: 5px;
        }
      }
      .about_me_wrap_line3{
        cursor: pointer;
        transition: all .3s;
        &:hover{
          color: @glHoverColor;
        }
      }
    }
  }
  // 热门文章
  .hotArticle{
    .name{
      margin-bottom: 10px;
    }
    .hotArticle-wrap{
      padding: 8px 15px;
      transition: all .3s;
      border-radius: 4px;
      .title{
        font-size: 14px;
        cursor: pointer;
        overflow:hidden; 
        text-overflow:ellipsis;
        white-space:nowrap;
        span{
          display: inline-block;
          background: rgba(0,0,0,.1);
          width: 15px;
          text-align: center;
          height: 15px;
          margin-right: 5px;
          border-radius: 4px;
        }
      }
      .read{
        font-size: 14px;
      }
      &:hover{
        background: rgba(0,0,0,.1);
      }
    }
  }
  // 朋友
  .inFriends{
    width: 100%;
    border-radius: 2px;
    .linerBg();
    padding: 20px 20px 5px 20px;
    margin-top: 15px;
    .friends-wrap{
      padding: 10px 0;
      a{
        color: #666;
        transition: all .3s;
        margin-right: 10px;
        &:hover{
          color: #222
        }
      }
    }
  }
  // 标签栏
  .tag-wrap{
    padding: 15px 0 0px 15px;
    .tags{
      height: 30px;
      line-height: 30px;
      display: inline-block;
      background: #fafafa;
      border: 1px solid #f0f0f0;
      margin-right: 4px;
      margin-bottom: 8px;
      border-radius: 3px;
      color: @glColor;
      font-size: 12px;
      position: relative;
      padding-left: 38px;
      padding-right: 10px;
      cursor: pointer;
      transition: all .3s;
      img{
        border-radius: 3px 0 0 3px;
        width: 30px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
      &:hover{
        color: @glHoverColor;
      }
    }
  }
  // 一言
  .textWrapItem{
    .textWrapItem_wrap{
      font-size: 12px;
      padding: 8px 15px;
      line-height: 18px;
      min-height: 30px;
    }
  }
  // 音乐
  .music{
    .music_wrap{
      padding: 8px 15px;
      display: flex;
      .music_wrap_left{
        position: relative;
        width: 50px;
        height: 50px;
        &:hover{
          i{
            display: block;
          }
        }
        i{
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
          z-index: 4;
          font-size: 30px;
          color: rgba(255, 255, 255, 0.5);
          display: none;
          cursor: pointer;
        }
        .music_album{
          width: 100%;
          height: 100%;
          border-radius: 4px;
          z-index: 2;
        }
        .music_modal{
          position: absolute;
          left: 0;
          top: 0;
          background: rgba(0, 0, 0, 0.5);
          width: 100%;
          height: 100%;
          z-index: 3;
          border-radius: 4px;
        }
      }
      .music_wrap_right{
        padding:6px  0px 0 10px;
        position: relative;
        .music_wrap_right_line1{
          .music_name{
            font-size: 16px;
          }
          .music_author{
            font-size: 12px;
          }
        }
        .music_wrap_right_line2{
          position: absolute;
          bottom: 0px;
          width: 100%;
          height: 16px;
          font-size: 12px;
          .music_progress_wrap{
            width: 46%;
            position: absolute;
            top: 55%;
            transform: translateY(-50%);
          }
          .music_detail{
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
          .music_progress{
            position: absolute;
            bottom: -2px;
            width: 100%;
            height: 2px;
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.2);
          }
          .music_progress_act{
            position: absolute;
            bottom: -2px;
            width: 0%;
            height: 2px;
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.6);
          }
        }
      }
    }
  }
}
.fixed_items{
  position: sticky;
  top:66px;
  animation: fadeInUp .8s ease-out  both;
  left: 0;
  float: left;
}
.left_wrap{
}
.right_wrap{
  margin-left: 430px;
}
// 总外面的容器
.container{
  position: relative;
  width: @glContentWidth;
  margin-left: @glToolWidth+10px;
  .swiper{
    width: 100%;
    height: 240px;
    margin-bottom: 10px;
    .linerBg();
    overflow: hidden;
    display: block;
    border-radius: 4px;
    .swiper-content{
      width: 630px;
      margin: 0 auto;
      overflow: hidden;
      height: 240px;
      display: flex;
      .swiper-wrapper{
        width: 630px;
        display: flex;
        height: 240px;
        border-radius: 4px;
      }
      img{
        width: 630px;
        height: 240px;
        border-radius: 4px;
        transition:All 0.3s ease-in-out;
        &:hover{
          transform:  scale(1.1);
        }
      }
    }
  }
  .content{
    width: 100%;
    .content_navbar{
      background: #fff;
      border-radius: 4px;
      margin-bottom: 5px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      ul{
        display: flex;
        padding: 8px 14px;
        li{
          margin-right: 10px;
          a{
            color: @glColor;
            transition: all .3s;
            &:hover{
              color: @glLinkColor;
            }
            .user-select();
          }
          .active_nav_link{
            color: @glLinkColor;
          }
        }
      }
      .article_mode{
        font-size: 12px;
        color: @glColor;
        display: flex;
        align-items: center;
        span{
          cursor: pointer;
          transition: all .3s;
          &:hover{
            color: @glLinkColor;
          }
          margin-right: 10px;
          .user-select();
        }
        .active_mode_link{
          color: @glLinkColor;
        }
        .day_or_night{
          cursor: pointer;
        }
      }
    }
    .article_loading{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      background: #fff;
      border-radius: 4px;
      .loader{
        width: 20%;
        text-align: center;
        display: inline-block;
        vertical-align: top;
      }      
    }
    .next_page{
      background: #fff;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      color: @glColor;
      width: 100%;
      height: 40px;
      cursor: pointer;
      margin-top: 20px;
    }
  }
}
// todo
.updatePage{
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  width: @glContentWidth;
  margin-left: @glToolWidth+10px;
  position: relative;
  .up_banner{
    widows: 100%;
    height: auto;
    img{
      max-width: 100%;
      max-height: 100%;
    }
  }
  h3{
    color:rgba(0,0,0,.84);
    &::before{
      content: '';
      border-radius: 100%;
      border: 2px solid #777;
      display: inline-block;
      width: 5px;
      height: 5px;
      margin: 0 8px 1px 0;
      background-color: #4acc40;
    }
  }
  .updateLine{
    .up_wrap{
      .up_time{
        margin: 0;
        padding: 15px;
        color: #666;
        font-size: 16px;
      }
      .up_text{
        padding: 10px 32px;
        color: #888;
        font-size: 14px;
      }
    }
  }
  .todo{
    p{
      color: rgba(0,0,0,.74);
      padding: 10px 20px;
    }
    .todo_item{
      color: rgba(0,0,0,.64);
      padding: 3px 30px;
      position: relative;
      &::before{
        content: '';
        border: 1px solid #777;
        display: inline-block;
        width: 9px;
        height: 9px;
        margin: 0 4px 1px 0;
        // background-color: #4acc40;
      }
    }
    .complete{
      &::after{
        content: "";
        position: absolute;
        width: 13px;
        height: 7px;
        left: 28px;
        top: 3px;
        border: 2px solid red;
        border-radius: 1px;
        border-top: none;
        border-right: none;
        background: transparent;
        transform: rotate(-50deg);
      }
    }
  }
}
// 瀑布流
.mode2Card{
  column-count: 3;
  column-width: 33.2%;;
  column-gap: 10px;
}
@media (max-width:1000px){
  .container{
    width: 800px;
  }
}
.myflex(){
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width:812px){
}