.container{
  width: 1000px;
  min-height: calc(100vh - 140px);
  border:1px solid slategray;
  margin: 10px auto 10px auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  .left-content{
    width: 23%;
    min-height: calc(100vh - 140px);
    border-right:1px solid salmon;
  }
  .right-content{
    width: 75%;
    min-height: calc(100vh - 140px);
  }
}